{% extends "base_generic.html" %}

{% block content %}
    <h1>Name: {{ author.first_name }} {{ author.last_name}}</h1>
    <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
    {% if not author.date_of_death %}
        <p><strong>Status:</strong> Alive </p>    
    {% else %}
        <p><strong>Status:</strong> Deceased </p>    
        <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>
    {% endif %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>
        {% for book in author.book_set.all %}
            <p>{{book.title}} - <strong>{{book.display_genre}}</strong></p>
        {% endfor %}
    </div>
{% endblock %}